body {
    margin-top: 20%;
    text-align: center;
    background-image: url("https://wallpaperbat.com/img/433421-chalkboard-math-wallpaper-top-free-chalkboard-math-background.jpg");
    color:rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Black', Arial, sans-serif;
    color: white;
}

button {
    background-color: white;
    font-weight: 800;
}
