h1 {
    color: white;
    text-align: center;
    font-size: x-large;
}

body {
    margin-top: 20%;
    text-align: center;
    background-image: url("https://wallpaperbat.com/img/433421-chalkboard-math-wallpaper-top-free-chalkboard-math-background.jpg");
    color:rgb(255, 255, 255);
    font-size: large;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Black', Arial, sans-serif;
}

button {
    background-color: rgb(255, 255, 255);
    font-weight: 800;
}
